<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControll</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Profile</servlet-name>
        <servlet-class>controller.PatientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControll</servlet-name>
        <servlet-class>controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorListControl</servlet-name>
        <servlet-class>controller.admin.DoctorListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorControl</servlet-name>
        <servlet-class>controller.admin.UpdateDoctorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorControl</servlet-name>
        <servlet-class>controller.admin.DeleteDoctorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorFilterControl</servlet-name>
        <servlet-class>controller.admin.DoctorFilterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileControl</servlet-name>
        <servlet-class>controller.DoctorProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileSettting</servlet-name>
        <servlet-class>controller.DoctorProfileSettting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorList</servlet-name>
        <servlet-class>controller.DoctorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorProfile</servlet-name>
        <servlet-class>controller.ViewDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorFilter</servlet-name>
        <servlet-class>controller.DoctorFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentBookingControl</servlet-name>
        <servlet-class>controller.AppointmentBookingControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingSuccessControl</servlet-name>
        <servlet-class>controller.BookingSuccessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileAdminControl</servlet-name>
        <servlet-class>controller.admin.DoctorProfileAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAppointmentControl</servlet-name>
        <servlet-class>controller.DoctorAppointmentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListControl</servlet-name>
        <servlet-class>controller.blog.BlogListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailControl</servlet-name>
        <servlet-class>controller.blog.BlogDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchListBlog</servlet-name>
        <servlet-class>controller.blog.SearchListBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDetailControl</servlet-name>
        <servlet-class>controller.AppointmentDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationHistoryControl</servlet-name>
        <servlet-class>controller.ReservationHistoryControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControll</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControll</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Profile</servlet-name>
        <url-pattern>/patient_profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.admin.UpdatePatientControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/admin-role/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorListControl</servlet-name>
        <url-pattern>/admin-role/doctor_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorControl</servlet-name>
        <url-pattern>/admin-role/update_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorControl</servlet-name>
        <url-pattern>/admin-role/delete_doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorFilterControl</servlet-name>
        <url-pattern>/admin-role/doctor_filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileControl</servlet-name>
        <url-pattern>/doctor_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileSettting</servlet-name>
        <url-pattern>/doctor_profile_setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorList</servlet-name>
        <url-pattern>/doctor-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorProfile</servlet-name>
        <url-pattern>/doctor_profile_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorFilter</servlet-name>
        <url-pattern>/doctor_filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentBookingControl</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingSuccessControl</servlet-name>
        <url-pattern>/booking_success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAppointmentControl</servlet-name>
        <url-pattern>/doctorAppointmentControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListControl</servlet-name>
        <url-pattern>/blog-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailControl</servlet-name>
        <url-pattern>/blog-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchListBlog</servlet-name>
        <url-pattern>/SearchListBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDetailControl</servlet-name>
        <url-pattern>/appointmentDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationHistoryControl</servlet-name>
        <url-pattern>/reservationHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
