/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2021, 9:27:54 PM
    Author     : TrungLT 
*/
h1{
    text-align: center;
    color: red;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px ;
    width: 50%;
}

th{
    color: blue;
    text-align: center;
    border: solid black 1px ;
}

td{
    text-align: center;
    border: solid black 1px ;
}

.add a:link, a:visited{ 
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 42%;
    padding: 5px;
    text-decoration: none;
    background-color: gold;
    color: black;
    text-align: center;
    border: solid black 0.5px;
}

.add a:hover, a:active {
    background-color: yellow;
}

.action a:hover, a:active {
    color: greenyellow;
}
